<a href="https://colab.research.google.com/github/Catatau52/Data_Mining-Data_from_CVM/blob/main/Personal_Project_Data_Mining_(CVM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Carregando as bibliotecas

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=9e2f13ef139cdf0a43345313947e82d224a8c264291b0f9d264957b1384a0d51
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
import pandas as pd
import numpy as np
import wget
import decimal
import os
from zipfile import ZipFile

#Acessando a base de dados da CVM

download da base itr (trimestral) e dfp (anual) desde 2011 até 2022

In [ ]:
url_base_itr = 'https://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/'
url_base_dfp = 'https://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/'

Criando uma lista com todos os arquivos e baixando

In [ ]:
arquivos_itr_zip = []
arquivos_dfp_zip = []
for ano in range(2011,2022+1):
  arquivos_itr_zip.append(f'itr_cia_aberta_{ano}.zip')
  arquivos_dfp_zip.append(f'dfp_cia_aberta_{ano}.zip')

In [ ]:
for arq in arquivos_itr_zip:
  wget.download(url_base_itr+arq)

for arq in arquivos_dfp_zip:
  wget.download(url_base_dfp+arq)

In [ ]:
for arq in arquivos_itr_zip:
  ZipFile(arq, 'r').extractall('ITR')

for arq in arquivos_dfp_zip:
  ZipFile(arq, 'r').extractall('DFP')

Concatenando todos os resultados em ITR e DFP e gerando CSV

In [ ]:
# Criar a pasta
os.makedirs(os.path.join('/content', 'Dados'), exist_ok=True)

docs = ['BPA_ind','BPP_ind','DRE_ind','DVA_ind']

for doc in docs:
  arquivo = pd.DataFrame()
  for ano in range(2011,2022+1):
    arquivo = pd.concat([arquivo, pd.read_csv(f'ITR/itr_cia_aberta_{doc}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
  arquivo.to_csv(f'Dados/itr_cia_aberta_{doc}_2011-2022',index=False)

for doc in docs:
  arquivo = pd.DataFrame()
  for ano in range(2011,2022+1):
    arquivo = pd.concat([arquivo, pd.read_csv(f'DFP/dfp_cia_aberta_{doc}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
  arquivo.to_csv(f'Dados/dfp_cia_aberta_{doc}_2011-2022',index=False)

Carregando data frames

In [ ]:
BPA_itr = pd.read_csv(f'/content/Dados/itr_cia_aberta_BPA_ind_2011-2022', sep=',', decimal=',')
BPP_itr = pd.read_csv(f'/content/Dados/itr_cia_aberta_BPP_ind_2011-2022', sep=',', decimal=',')
DVA_itr = pd.read_csv(f'/content/Dados/itr_cia_aberta_DVA_ind_2011-2022', sep=',', decimal=',')
DRE_itr = pd.read_csv(f'/content/Dados/itr_cia_aberta_DRE_ind_2011-2022', sep=',', decimal=',')

BPA_dfp = pd.read_csv(f'/content/Dados/dfp_cia_aberta_BPA_ind_2011-2022', sep=',', decimal=',')
BPP_dfp = pd.read_csv(f'/content/Dados/dfp_cia_aberta_BPP_ind_2011-2022', sep=',', decimal=',')
DVA_dfp = pd.read_csv(f'/content/Dados/dfp_cia_aberta_DVA_ind_2011-2022', sep=',', decimal=',')
DRE_dfp = pd.read_csv(f'/content/Dados/dfp_cia_aberta_DRE_ind_2011-2022', sep=',', decimal=',')

#Reescrevendo empresas que mudaram de nome ao longo dos anos.

In [ ]:
dataframes = [BPA_itr, BPP_itr, DVA_itr, DRE_itr, BPA_dfp, BPP_dfp, DVA_dfp, DRE_dfp]

for df in dataframes:
    df['DENOM_CIA'] = df['DENOM_CIA'].str.replace('SENIOR SOLUTION S.A.', 'SINQIA S.A.')

<ipython-input-9-caace5e2e005>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['DENOM_CIA'] = df['DENOM_CIA'].str.replace('SENIOR SOLUTION S.A.', 'SINQIA S.A.')

#Filtrando dados

filtrandos os dados trimestrais relevantes para BPA

In [ ]:
BPA_itr = BPA_itr.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)
#BPA_itr = BPA_itr[BPA_itr['CD_CONTA'].str.len() <= 7]

#reodena colunas
BPA_itr = BPA_itr[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
#valores_a_manter = ['Ativo Total','Ativo Circulante','Disponibilidades','Caixa e Equivalentes de Caixa']
valores_a_manter = ['1','1.01','1.01.01']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
BPA_itr = BPA_itr.loc[BPA_itr['CD_CONTA'].isin(valores_a_manter)]

#separando os resultados
BPA_itr = BPA_itr[BPA_itr['ORDEM_EXERC'] == 'ÚLTIMO']
BPA_itr = BPA_itr.drop(['ORDEM_EXERC'],axis=1)

In [ ]:
BPA_itr['CNPJ_CIA'].value_counts()

02.291.077/0001-93    111
00.192.769/0001-59    111
16.590.234/0001-76    111
15.101.405/0001-93    111
73.903.718/0001-61    111
                     ...
08.887.330/0001-52      3
09.347.916/0001-97      3
03.468.802/0001-19      3
51.468.056/0001-06      3
60.394.723/0001-44      3
Name: CNPJ_CIA, Length: 1121, dtype: int64

In [ ]:
BPA_dfp = BPA_dfp.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)
#BPA_itr = BPA_itr[BPA_itr['CD_CONTA'].str.len() <= 7]

#reodena colunas
BPA_dfp = BPA_dfp[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
#valores_a_manter = ['Ativo Total','Ativo Circulante','Disponibilidades','Caixa e Equivalentes de Caixa']
valores_a_manter = ['1','1.01','1.01.01']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
BPA_dfp = BPA_dfp.loc[BPA_dfp['CD_CONTA'].isin(valores_a_manter)]

#separando os resultados
BPA_dfp = BPA_dfp[BPA_dfp['ORDEM_EXERC'] == 'ÚLTIMO']
BPA_dfp = BPA_dfp.drop(['ORDEM_EXERC'],axis=1)

In [ ]:
BPA_dfp['CNPJ_CIA'].value_counts()

50.746.577/0001-15    39
61.082.004/0001-50    39
00.000.000/0001-91    36
17.314.329/0001-20    36
30.306.294/0001-45    36
                      ..
29.388.352/0001-48     3
33.000.118/0001-79     3
33.147.315/0001-15     3
03.392.498/0001-73     3
81.616.807/0001-55     3
Name: CNPJ_CIA, Length: 1093, dtype: int64

filtrandos os dados trimestrais relevantes para BPP

In [ ]:
BPP_itr = BPP_itr.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)

#reodena colunas
BPP_itr = BPP_itr[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
#valores_a_manter = ['Passivo Total','Passivo Circulante'']
valores_a_manter = ['2','2.01','2.02'] #,'2.05','2.07'
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
BPP_itr_1 = BPP_itr.loc[BPP_itr['CD_CONTA'].isin(valores_a_manter)]

#valores_a_manter = ['Patrimônio Líquido']
valores_a_manter = ['Patrimônio Líquido']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
BPP_itr_2 = BPP_itr.loc[BPP_itr['DS_CONTA'].isin(valores_a_manter)]


BPP_itr = pd.concat([BPP_itr_1,BPP_itr_2]).sort_values(by=['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM','DT_REFER','CD_CONTA'])


#separando os resultados
BPP_itr = BPP_itr[BPP_itr['ORDEM_EXERC'] == 'ÚLTIMO']
BPP_itr = BPP_itr.drop(['ORDEM_EXERC'],axis=1)

In [ ]:
BPP_itr['CNPJ_CIA'].value_counts()

00.192.769/0001-59    148
02.397.080/0001-96    148
16.590.234/0001-76    148
15.101.405/0001-93    148
02.291.077/0001-93    148
                     ...
33.066.408/0001-15      4
67.915.785/0001-01      4
09.123.654/0001-87      4
09.347.916/0001-97      4
26.643.756/0001-42      4
Name: CNPJ_CIA, Length: 1121, dtype: int64

In [ ]:
BPP_dfp = BPP_dfp.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)

#reodena colunas
BPP_dfp = BPP_dfp[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
#valores_a_manter = ['Passivo Total','Passivo Circulante'']
valores_a_manter = ['2','2.01','2.02'] #,'2.05','2.07'
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
BPP_dfp_1 = BPP_dfp.loc[BPP_dfp['CD_CONTA'].isin(valores_a_manter)]

#valores_a_manter = ['Patrimônio Líquido']
valores_a_manter = ['Patrimônio Líquido']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
BPP_dfp_2 = BPP_dfp.loc[BPP_dfp['DS_CONTA'].isin(valores_a_manter)]


BPP_dfp = pd.concat([BPP_dfp_1,BPP_dfp_2]).sort_values(by=['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM','DT_REFER','CD_CONTA'])

#separando os resultados
BPP_dfp = BPP_dfp[BPP_dfp['ORDEM_EXERC'] == 'ÚLTIMO']
BPP_dfp = BPP_dfp.drop(['ORDEM_EXERC'],axis=1)

In [ ]:
BPP_dfp['CNPJ_CIA'].value_counts()

61.082.004/0001-50    52
50.746.577/0001-15    52
00.000.000/0001-91    48
16.404.287/0001-55    48
16.590.234/0001-76    48
                      ..
02.312.666/0001-00     4
02.312.699/0001-50     4
60.631.090/0001-40     4
32.803.503/0001-91     4
24.410.913/0001-44     4
Name: CNPJ_CIA, Length: 1093, dtype: int64

filtrandos os dados trimestrais relevantes para DVA

In [ ]:
DVA_itr = DVA_itr.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)

#reodena colunas
DVA_itr = DVA_itr[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
valores_a_manter = ['Juros sobre o Capital Próprio','Dividendos']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
DVA_itr = DVA_itr.loc[DVA_itr['DS_CONTA'].isin(valores_a_manter)]

#separando os resultados
DVA_itr = DVA_itr[DVA_itr['ORDEM_EXERC'] == 'ÚLTIMO']
DVA_itr = DVA_itr.drop(['ORDEM_EXERC'],axis=1)

In [ ]:
DVA_itr['CNPJ_CIA'].value_counts()

00.336.701/0001-04    84
01.104.937/0001-70    77
45.987.245/0001-92    76
00.359.742/0001-08    76
02.291.077/0001-93    74
                      ..
67.915.785/0001-01     2
09.123.654/0001-87     2
09.347.916/0001-97     2
11.306.912/0001-02     2
13.552.070/0001-02     2
Name: CNPJ_CIA, Length: 1121, dtype: int64

In [ ]:
DVA_dfp = DVA_dfp.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)

#reodena colunas
DVA_dfp = DVA_dfp[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
valores_a_manter = ['Juros sobre o Capital Próprio','Dividendos']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
DVA_dfp = DVA_dfp.loc[DVA_dfp['DS_CONTA'].isin(valores_a_manter)]

#separando os resultados
DVA_dfp = DVA_dfp[DVA_dfp['ORDEM_EXERC'] == 'ÚLTIMO']
DVA_dfp = DVA_dfp.drop(['ORDEM_EXERC'],axis=1)

In [ ]:
DVA_dfp['CNPJ_CIA'].value_counts()

01.104.937/0001-70    36
00.359.742/0001-08    30
59.789.545/0001-71    28
71.476.527/0001-35    27
61.082.004/0001-50    26
                      ..
01.685.903/0001-16     2
84.429.752/0001-62     2
01.832.635/0001-18     2
10.265.949/0001-77     2
81.616.807/0001-55     2
Name: CNPJ_CIA, Length: 1091, dtype: int64


filtrandos os dados trimestrais relevantes para DRE

In [ ]:
DRE_itr = DRE_itr.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)

#reodena colunas
DRE_itr = DRE_itr[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_INI_EXERC','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
valores_a_manter = ['3.01','3.03','3.05','3.07','3.11','3.13','3.99']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
DRE_itr = DRE_itr.loc[DRE_itr['CD_CONTA'].isin(valores_a_manter)]

#separando os resultados
DRE_itr = DRE_itr[DRE_itr['ORDEM_EXERC'] == 'ÚLTIMO']
DRE_itr = DRE_itr.drop(['ORDEM_EXERC'],axis=1)

In [ ]:
DRE_itr['CNPJ_CIA'].value_counts()

30.306.294/0001-45    427
15.144.017/0001-90    420
65.654.303/0001-73    420
62.144.175/0001-20    420
60.872.504/0001-23    420
                     ...
26.643.756/0001-42      6
13.552.070/0001-02      6
03.468.802/0001-19      6
09.123.654/0001-87      6
60.394.723/0001-44      6
Name: CNPJ_CIA, Length: 1121, dtype: int64

In [ ]:
DRE_dfp = DRE_dfp.drop(['VERSAO','GRUPO_DFP','MOEDA','ST_CONTA_FIXA'],axis=1)

#reodena colunas
DRE_dfp = DRE_dfp[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','DT_INI_EXERC','DT_FIM_EXERC', 'ESCALA_MOEDA', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA','ORDEM_EXERC']]

# Defina a lista de valores que deseja manter
valores_a_manter = ['3.01','3.03','3.05','3.07','3.11','3.13','3.99']
# Mantenha as linhas que contêm os valores da lista na coluna 'DS_CONTA' e exclua as demais
DRE_dfp = DRE_dfp.loc[DRE_dfp['CD_CONTA'].isin(valores_a_manter)]

#separando os resultados
DRE_dfp = DRE_dfp[DRE_dfp['ORDEM_EXERC'] == 'ÚLTIMO']
DRE_dfp = DRE_dfp.drop(['ORDEM_EXERC','DT_INI_EXERC'],axis=1)

In [ ]:
DRE_dfp['CNPJ_CIA'].value_counts()

30.306.294/0001-45    84
15.144.017/0001-90    84
91.669.747/0001-92    84
59.285.411/0001-13    84
60.872.504/0001-23    84
                      ..
33.000.118/0001-79     6
03.392.498/0001-73     6
03.076.274/0001-52     6
51.468.056/0001-06     6
81.616.807/0001-55     6
Name: CNPJ_CIA, Length: 1092, dtype: int64

Padronizando a DRE ITR para resultados acumulados

In [ ]:
# Converter as colunas datas para o tipo datetime
DRE_itr['DT_INI_EXERC'] = pd.to_datetime(DRE_itr['DT_INI_EXERC'])
DRE_itr['DT_FIM_EXERC'] = pd.to_datetime(DRE_itr['DT_FIM_EXERC'])
DRE_itr['DT_REFER'] = pd.to_datetime(DRE_itr['DT_REFER'])
# Calcular a diferença de tempo entre DT_INI_EXERC e DT_FIM_EXERC
DRE_itr['PERIODO'] = DRE_itr['DT_FIM_EXERC'] - DRE_itr['DT_INI_EXERC']
#Reogarinzando a base
DRE_itr = DRE_itr.sort_values(['CNPJ_CIA','DENOM_CIA','CD_CVM','DT_REFER'])
DRE_itr = DRE_itr.reset_index(drop=True)
# Calcular a diferença de um resultado para o outro
DRE_itr['PERIODO_DIF'] = DRE_itr.groupby(['CNPJ_CIA','DT_REFER'])['PERIODO'].diff()
# Substituindo 'NaT' por '0 days'
DRE_itr['PERIODO_DIF'] = DRE_itr['PERIODO_DIF'].fillna(pd.Timedelta(0))
# Eliminar as linhas de resultados trimestrais e manter os acumulados (como nos demais documentos)
DRE_itr = DRE_itr[DRE_itr['PERIODO_DIF'] >= '-5 days' ]
DRE_itr = DRE_itr.drop(['PERIODO_DIF','PERIODO'], axis=1)
DRE_itr = DRE_itr.drop('DT_INI_EXERC', axis = 1)

In [ ]:
#DRE_itr[(DRE_itr['CNPJ_CIA'] == '32.372.085/0001-25') & (DRE_itr['DT_REFER'] >= '2019-03-31')].head(10)

In [ ]:
#DRE_itr[(DRE_itr['PERIODO_DIF'] < '-6 days') & (DRE_itr['PERIODO_DIF'] >= '-31 days')].head(60)

#Concatenando as bases de dados

In [ ]:
df1 = pd.concat([BPA_itr,BPP_itr]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])
df2 = pd.concat([DRE_itr,DVA_itr]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])
df_itr = pd.concat([df1,df2]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])

df_itr['DT_FIM_EXERC']= pd.to_datetime(df_itr['DT_FIM_EXERC'])
df_itr['DT_REFER']= pd.to_datetime(df_itr['DT_REFER'])

df_itr = df_itr.sort_values(['CNPJ_CIA','DT_REFER'])

<ipython-input-29-03f810631ad7>:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df2 = pd.concat([DRE_itr,DVA_itr]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])

In [ ]:
df3 = pd.concat([BPA_dfp,BPP_dfp]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])
df4 = pd.concat([DRE_dfp,DVA_dfp]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])
df_dfp = pd.concat([df3,df4]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])

df_dfp['DT_FIM_EXERC']= pd.to_datetime(df_dfp['DT_FIM_EXERC'])
df_dfp['DT_REFER']= pd.to_datetime(df_dfp['DT_REFER'])

df_dfp = df_dfp.sort_values(['CNPJ_CIA','DT_REFER'])

In [ ]:
df = pd.concat([df_itr,df_dfp]).sort_values(by=['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM','DT_REFER','CD_CONTA'])
df = df.reset_index(drop=True)
df = df.drop_duplicates()

mesclando, padronizando e removendo nomes irrelevantes do balanço

In [ ]:
df['DS_CONTA'].value_counts()

Patrimônio Líquido                                                    31418
Passivo Total                                                         31415
Dividendos                                                            31400
Ativo Total                                                           31383
Juros sobre o Capital Próprio                                         31341
Passivo Circulante                                                    31231
Ativo Circulante                                                      31218
Lucro/Prejuízo do Período                                             31193
Caixa e Equivalentes de Caixa                                         29687
Passivo Não Circulante                                                29521
Resultado Antes do Resultado Financeiro e dos Tributos                29483
Resultado Bruto                                                       29481
Resultado Antes dos Tributos sobre o Lucro                            29362
Lucro por Ação - (Reais / Ação)                                       29357
Receita de Venda de Bens e/ou Serviços                                29350
Lucro por Ação - (R$ / Ação)                                           1831
Disponibilidades                                                       1712
Passivo Exigível a Longo Prazo                                         1711
Resultado Bruto Intermediação Financeira                               1710
Resultado Operacional                                                  1710
Resultado Antes Tributação/Participações                               1710
Reversão dos Juros sobre Capital Próprio                               1710
Receitas da Intermediação Financeira                                   1710
Lucro por Ação (R$/Ação)                                                185
Resultado antes dos Tributos sobre o Lucro                              185
Lucro ou Prejuízo Líquido do Período                                    185
Resultado Bruto de Intermediação Financeira                             185
Receitas de Intermediação Financeira                                    185
Passivos Financeiros ao Custo Amortizado                                185
Passivos Financeiros Avaliados ao Valor Justo através do Resultado      185
Caixa                                                                   185
Lucro ou Prejuízo das Operações Continuadas                             185
Receitas das Operações                                                  121
Outras Receitas e Despesas Operacionais                                 121
Resultado Líquido das Operações Continuadas                             121
Ativo                                                                     8
Ativo total:                                                              7
Caixa e equivalentes de caixa                                             4
Receita                                                                   3
D                                                                         3
A                                                                         3
Receita Bruta de Venda de Bens e/ou Serviços                              2
0                                                                         2
a                                                                         1
Name: DS_CONTA, dtype: int64

In [ ]:
#df.loc[df['DS_CONTA'] == 'Outras Receitas e Despesas Operacionais']

In [ ]:
df['DS_CONTA'] = df['DS_CONTA'].replace({

    'Passivos Financeiros ao Custo Amortizado' : 'Passivo Circulante',

    'Caixa e equivalentes de caixa': 'Caixa', #LOJAS HERING S.A.
    'Disponibilidades': 'Caixa',

    'Lucro por Ação - (Reais / Ação)': 'Lucro por Ação',
    'Lucro por Ação - (R$ / Ação)': 'Lucro por Ação',
    'Lucro por Ação (R$/Ação)' : 'Lucro por Ação',

    'Lucro ou Prejuízo Líquido do Período' : 'Lucro/Prejuízo do Período',

    'a': 'Receitas',
    'D': 'Receitas',
    'Receita Bruta de Venda de Bens e/ou Serviços' : 'Receitas',
    'Receita de Venda de Bens e/ou Serviços' : 'Receitas',
    'Receita' : 'Receitas',
    'Receitas das Operações' : 'Receitas',
    'Receitas da Intermediação Financeira' : 'Receitas',
    'Receitas de Intermediação Financeira' : 'Receitas',

    'Resultado Antes Tributação/Participações' : 'Resultado Antes dos Tributos sobre o Lucro',
    'Lucro ou Prejuízo das Operações Continuadas' : 'Resultado Antes dos Tributos sobre o Lucro',
    'Resultado Líquido das Operações Continuadas' : 'Resultado Antes dos Tributos sobre o Lucro',

    'Resultado Operacional' : 'Resultado Antes do Resultado Financeiro e dos Tributos',
    'Resultado antes dos Tributos sobre o Lucro' : 'Resultado Antes do Resultado Financeiro e dos Tributos',

    'Resultado Bruto Intermediação Financeira' : 'Resultado Bruto',
    'Resultado Bruto de Intermediação Financeira' : 'Resultado Bruto',

    '0': 'Ativo Total',
    'A': 'Ativo Total',
    'Ativo total:': 'Ativo Total',
    'Ativo': 'Ativo Total',
})

In [ ]:
df = df[~df['DS_CONTA'].isin(['Reversão dos Juros sobre Capital Próprio','Passivos Financeiros Avaliados ao Valor Justo através do Resultado','Outros Passivos',
                              'Passivo Exigível a Longo Prazo','Outras Receitas e Despesas Operacionais'])]

In [ ]:
# Substituir o conteúdo da coluna 'DS_CONTA' para 'caixa' onde 'CD_CONTA' for igual a '1.01'
df.loc[df['CD_CONTA'] == '1.01', 'DS_CONTA'] = 'Ativo Circulante'
df.loc[df['CD_CONTA'] == '1.01.01', 'DS_CONTA'] = 'Caixa'

In [ ]:
df = df.loc[df['DS_CONTA'] != 'Passivo Não Circulante']

Padronizandos os nomes dos balanços

In [ ]:
df['DS_CONTA'] = df['DS_CONTA'].replace({
    'Resultado Antes do Resultado Financeiro e dos Tributos': 'EBITDA',
    'Resultado Antes dos Tributos sobre o Lucro': 'EBIT',
    'Juros sobre o Capital Próprio': 'JCP',
    'Lucro/Prejuízo do Período': 'Lucro Líquido',
    'Resultado Bruto': 'Lucro Bruto',
    'Lucro/Prejuízo do Período': 'Lucro',
    'Receitas': 'Receita Total'

})

In [ ]:
df['DS_CONTA'].value_counts()

Patrimônio Líquido    31418
Passivo Circulante    31416
Passivo Total         31415
Ativo Total           31403
Ativo Circulante      31403
Caixa                 31403
Dividendos            31400
EBITDA                31378
EBIT                  31378
Lucro                 31378
Lucro Bruto           31376
Receita Total         31375
Lucro por Ação        31373
JCP                   31341
Name: DS_CONTA, dtype: int64

#Transpor a coluna DS_CONTA para colunas individuais

eliminar colunas que não serão mais necessárias, mas para não perder informação da coluna "ESCALA_MOEDA" é necessário multiplicar ou divididir a coluna "VL_CONTA"

In [ ]:
df['VL_CONTA'] = df['VL_CONTA'].astype('float64')
pd.set_option('display.float_format', '{:.4f}'.format)
# Mapeamento para fatores multiplicativos
escala_mapping = {'UNIDADE': 1000}

# Função personalizada para multiplicar por fator de escala
def multiply_by_scale(row):
    escala = row['ESCALA_MOEDA']
    if escala in escala_mapping:
        return row['VL_CONTA'] / escala_mapping[escala]
    else:
        return row['VL_CONTA']

# Aplicar a função personalizada na coluna 'VL_CONTA'
df['VL_CONTA'] = df.apply(multiply_by_scale, axis=1)

df = df.drop(['DT_FIM_EXERC','CD_CONTA','ESCALA_MOEDA'], axis =1)

In [ ]:
df = df.pivot_table(index=['CNPJ_CIA','DENOM_CIA','CD_CVM','DT_REFER'], columns='DS_CONTA', values='VL_CONTA' ).reset_index()
#reodena colunas
df = df[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER', 'Patrimônio Líquido', 'Ativo Total', 'Ativo Circulante', 'Passivo Total','Passivo Circulante', 'Receita Total',
         'Lucro Bruto','EBIT', 'EBITDA', 'Lucro', 'Caixa', 'Dividendos', 'JCP', 'Lucro por Ação']]
df = df.rename_axis(None, axis='columns')

In [ ]:
#df.loc[df['DENOM_CIA'] == 'NATURA &CO HOLDING S.A.']

#Adicionando Número de ações a base de dados

Essa base foi retirada dos próprios documentos fornecido pela CVM.

In [ ]:
num_acoes = pd.read_csv('/content/numero_acoes_2011-2022.csv')
num_acoes = num_acoes.drop('Unnamed: 0', axis =1)
num_acoes = num_acoes.drop('Total', axis =1)

In [ ]:
TOTAL_ACOES = num_acoes['Acoes_ON'] + num_acoes['Acoes_PN']
ACOES_TESOURARIA = num_acoes['Tes_ON'] + num_acoes['Tes_PN']
num_acoes['FREE_FLOAT'] = ( TOTAL_ACOES - ACOES_TESOURARIA ) / TOTAL_ACOES
num_acoes['TOTAL_ACOES'] =  TOTAL_ACOES

In [ ]:
num_acoes.describe()

,CD_CVM,Acoes_ON,Acoes_PN,Tes_ON,Tes_PN,FREE_FLOAT,TOTAL_ACOES
count,30253.0000,30253.0000,30253.0000,30253.0000,30253.0000,30253.0000,30253.0000
mean,18349.9065,31245306662.2298,41695928654.4035,4500053.2950,386315.6439,0.9957,72941235316.6333
std,13062.6071,1075501519715.9868,1626586008093.4041,288512900.8954,5372610.1741,0.0319,2698272853451.6304
min,3.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000
25%,14214.0000,91043.0000,0.0000,0.0000,0.0000,1.0000,103280.0000
50%,19771.0000,2609000.0000,0.0000,0.0000,0.0000,1.0000,2902487.0000
75%,22543.0000,152692764.0000,56630.0000,0.0000,0.0000,1.0000,176611578.0000
max,902123.0000,45035110304475.0000,68516168445415.0000,46856094000.0000,510800000.0000,1.0000,113551278749890.0000

In [ ]:
num_acoes.loc[num_acoes['FREE_FLOAT'] < 0]

,CNPJ_CIA,DT_REFER,DENOM_CIA,CD_CVM,Acoes_ON,Acoes_PN,Tes_ON,Tes_PN,FREE_FLOAT,TOTAL_ACOES
429,00.354.053/0001-00,2012-03-31,KOSMOS COMÉRCIO DE VESTUÁRIO S/A - EM RECUPERA...,15083,16083.0000,14842.0000,0.0000,509488.0000,-15.4750,30925.0000
6999,04.423.567/0001-21,2018-06-30,ENEVA S.A,21237,314990.0000,0.0000,3149900.0000,0.0000,-9.0000,314990.0000
9282,07.620.094/0001-40,2012-03-31,AFLUENTE G&T DE ENERGIA ELÉTRICA S/A,20150,10930.0000,7887.0000,17958.0000,12958.0000,-0.6430,18817.0000
9419,07.689.002/0001-89,2015-03-31,EMBRAER S.A.,20087,740465.0000,0.0000,4687483.0000,0.0000,-5.3305,740465.0000
19321,26.173.550/0001-04,2017-06-30,LGT HUB PARTICIPAÇÕES S.A.,24198,1000.0000,0.0000,49000.0000,0.0000,-48.0000,1000.0000
22807,46.119.855/0001-37,2018-03-31,SOCIEDADE ABASTECIMENTO DE ÁGUA E SANEAMENTO S...,16241,336430.0000,0.0000,3364300.0000,0.0000,-9.0000,336430.0000

substituindo resultado com linhas anteriores em que free float deu negativo

In [ ]:
num_acoes.iloc[19321] = num_acoes.iloc[19321-1]
num_acoes.iloc[429] = num_acoes.iloc[429-1]
num_acoes.iloc[6999] = num_acoes.iloc[6999-1]
num_acoes.iloc[9282] = num_acoes.iloc[9282-1]
num_acoes.iloc[9419] = num_acoes.iloc[9419-1]
num_acoes.iloc[22807] = num_acoes.iloc[22807-1]

In [ ]:
num_acoes = num_acoes[['CNPJ_CIA','DENOM_CIA','CD_CVM','DT_REFER','Acoes_ON','Acoes_PN','Tes_ON','Tes_PN','FREE_FLOAT','TOTAL_ACOES']]

Concatenando as quantidades de ações na base

In [ ]:
concated = pd.concat([df,num_acoes]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])

<ipython-input-148-594d6a0a4acf>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  concated = pd.concat([df,num_acoes]).sort_values(by=['CNPJ_CIA', 'CD_CVM','DT_REFER'])

In [ ]:
cols = ['Acoes_ON', 'Acoes_PN', 'Tes_ON', 'Tes_PN','FREE_FLOAT','TOTAL_ACOES']
for col in cols:
    concated[col] = concated.groupby('CNPJ_CIA')[col].fillna(method='Ffill')
for col in cols:
    concated[col] = concated.groupby('CNPJ_CIA')[col].fillna(method='bfill')

In [ ]:
concated = concated.dropna(subset=['Patrimônio Líquido'])
df = concated

#Filtrando a base de dados para empresas relevantes
**É possível implementar mais filtros**

In [ ]:
df['CNPJ_CIA'].value_counts()

15.101.405/0001-93    49
00.000.000/0001-91    48
16.614.075/0001-00    48
21.255.567/0001-89    48
19.527.639/0001-58    48
                      ..
40.263.170/0001-83     4
20.553.221/0001-02     4
17.162.280/0001-37     4
33.000.118/0001-79     4
11.858.621/0001-27     4
Name: CNPJ_CIA, Length: 762, dtype: int64

removendo empresas que não apresentam os resultados de no mínimo 4 trismestres (59 removidas)

In [ ]:
contagem = df['CNPJ_CIA'].value_counts()
df = df[df['CNPJ_CIA'].isin(contagem[contagem >= 4].index)]
# Iterar sobre os resultados da contagem
#for valor, count in contagem.items():
    #print(f"Valor: {valor}, Contagem: {count}")

In [ ]:
#df.loc[df['CNPJ_CIA'] == '49.263.189/0001-02']

Removendo empresas com menos de 10milhões em Ativo Total (226 removidas)

In [ ]:
df_filtrado = df[df['Ativo Total'] < 10000]
contagem = df_filtrado['CNPJ_CIA'].value_counts()
#Filtro as empresas que aparecem mais que 3x vezes para evitar balanços incosistentes
df_filtrado = df_filtrado[df_filtrado['CNPJ_CIA'].isin(contagem[contagem >= 4].index)]
#for valor, count in contagem.items():
#    print(f"Valor: {valor}, Contagem: {count}")
df = df[~df['CNPJ_CIA'].isin(df_filtrado['CNPJ_CIA'])]

Removendo empresas com menos de 100mil de Receita Total (275 removidas)

In [ ]:
#df_filtrado = df[df['Receita Total'] < 100]
#contagem = df_filtrado['CNPJ_CIA'].value_counts()
#Filtro as empresas que aparecem mais que 3x vezes para evitar balanços incosistentes
#df_filtrado = df_filtrado[df_filtrado['CNPJ_CIA'].isin(contagem[contagem >= 4].index)]
#for valor, count in contagem.items():
#    print(f"Valor: {valor}, Contagem: {count}")
#df = df[~df['CNPJ_CIA'].isin(df_filtrado['CNPJ_CIA'])]

Removendo empresas basedo no numero de ações e free float (84 empresas <= 1500 ações)

In [ ]:
df[['FREE_FLOAT','TOTAL_ACOES']].describe()

       FREE_FLOAT          TOTAL_ACOES
count  25535.0000           25535.0000
mean       0.9953     79853162534.1846
std        0.0288   2846746312406.0972
min        0.0000               1.0000
25%        0.9997          162166.0000
50%        1.0000         9137263.0000
75%        1.0000       221673074.0000
max        1.0000 113551278749890.0000

In [ ]:
pd.qcut(df['TOTAL_ACOES'], 10)

0        (1017914746.0, 113551278749890.0]
1        (1017914746.0, 113551278749890.0]
2        (1017914746.0, 113551278749890.0]
3        (1017914746.0, 113551278749890.0]
4        (1017914746.0, 113551278749890.0]
                       ...
31378          (370000000.0, 1017914746.0]
31379          (370000000.0, 1017914746.0]
31380          (370000000.0, 1017914746.0]
31381          (370000000.0, 1017914746.0]
31382          (370000000.0, 1017914746.0]
Name: TOTAL_ACOES, Length: 25535, dtype: category
Categories (10, interval[float64, right]): [(0.999, 16027.0] < (16027.0, 90745.8] <
                                            (90745.8, 279298.0] < (279298.0, 840106.0] < ... <
                                            (66002915.0, 154207162.0] < (154207162.0, 370000000.0] <
                                            (370000000.0, 1017914746.0] < (1017914746.0, 113551278749890.0]]

10% da base contem empresas com numero de ações com menos de 16027

In [ ]:
df_filtrado = df[df['TOTAL_ACOES'] <= 15000]
contagem = df_filtrado['CNPJ_CIA'].value_counts()
#Filtro as empresas que aparecem mais que 1x vezes para evitar balanços incosistentes
df_filtrado = df_filtrado[df_filtrado['CNPJ_CIA'].isin(contagem[contagem >= 10].index)]
#for valor, count in contagem.items():
#    print(f"Valor: {valor}, Contagem: {count}")
df = df[~df['CNPJ_CIA'].isin(df_filtrado['CNPJ_CIA'])]

preenchendo valores com 0 para Dy, JCP e LPA.

In [ ]:
df[['Dividendos','JCP','Lucro por Ação']] = df[['Dividendos','JCP','Lucro por Ação']].fillna(0)

#Inserindo Indicadores em um novo DF

In [ ]:
# Vetor de indicadores
indicadores = ['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER','VPA','LPA_BASE','LPA_CALC','PAYOUT','PL/ATIVOS',
                'PS/ATIVOS','DIV/PL','DIV/EBIT','DIV/EBITDA','M.EBITDA','ROE','ROIC','ROA','ILC','MLB','MLO','MLL','VLE']
# Criar novo DataFrame com coluna de indicadores repetidos
df2 = pd.DataFrame(columns=[indicadores])
df2 = df2.assign(**{coluna: df[coluna] for coluna in ['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_REFER']})

Calculando os indicadores a partir dos balanços das empresas

In [ ]:
df2['LPA_BASE'] = df['Lucro por Ação']
df2['LPA_CALC'] = (df['Lucro'] / df['TOTAL_ACOES'])*1000
df2['VPA'] = df['Patrimônio Líquido'] / ( df['TOTAL_ACOES'])*1000
df2['PAYOUT'] = ( df['Dividendos'] + df['JCP'] ) / ( df['Lucro'])

df2['PL/ATIVOS'] = df['Patrimônio Líquido'] / df['Ativo Total']
df2['PS/ATIVOS'] = df['Passivo Total'] / df['Ativo Total']
df2['DIV/PL'] = (df['Passivo Circulante'] - df['Caixa']) / df['Patrimônio Líquido']
df2['DIV/EBIT'] = (df['Passivo Circulante'] - df['Caixa']) / df['EBIT']
df2['DIV/EBITDA'] = (df['Passivo Circulante'] - df['Caixa']) / df['EBITDA']

df2['M.EBITDA'] = df['EBITDA'] / df['Receita Total']
df2['ROE'] = df['Lucro'] / df['Patrimônio Líquido']
df2['ROA'] = df['Lucro'] / df['Ativo Total']
df2['ROIC'] = df['EBIT'] / (df['Patrimônio Líquido'] + (df['Passivo Total'] - df['Passivo Circulante']))

df2['ILC'] = df['Ativo Circulante'] / df['Passivo Circulante']
df2['MLB'] = df['Lucro Bruto'] / df['Receita Total']
df2['MLO'] = df['EBIT'] / df['Receita Total']
df2['MLL'] = df['Lucro'] / df['Receita Total']

# Calcular a variação percentual do lucro
df2['VLE'] = df.groupby('CNPJ_CIA')['Lucro'].pct_change()
#df2['VLE'] = (df['Lucro'] / df['Lucro'].shift(1)) - 1

In [ ]:
df2.head(60)

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_REFER,VPA,LPA_BASE,LPA_CALC,PAYOUT,PL/ATIVOS,PS/ATIVOS,...,DIV/EBITDA,M.EBITDA,ROE,ROIC,ROA,ILC,MLB,MLO,MLL,VLE
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-03-31 00:00:00,18.2376,0.0000,1.0250,0.4000,0.0662,1.0000,...,118.6082,0.2191,0.0562,0.0146,0.0037,0.8585,0.3157,0.2197,0.1453,NaN
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-06-30 00:00:00,18.9728,2.1891,2.1891,0.4000,0.0665,1.0000,...,56.8123,0.2240,0.1154,0.0302,0.0077,0.8653,0.3207,0.2266,0.1488,1.1356
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-09-30 00:00:00,19.6730,3.2000,3.1998,0.4000,0.0655,1.0000,...,43.9160,0.1860,0.1626,0.0368,0.0107,0.8965,0.2678,0.1880,0.1356,0.4617
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-12-31 00:00:00,20.3265,4.2802,4.2812,0.4000,0.0653,1.0000,...,32.6106,0.1917,0.2106,0.0464,0.0138,0.9061,0.2732,0.1937,0.1360,0.3380
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-03-31 00:00:00,20.8758,0.8915,0.8915,0.4000,0.0655,1.0000,...,164.7938,0.1528,0.0427,0.0088,0.0028,0.9389,0.2823,0.1539,0.1135,-0.7914
5,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-06-30 00:00:00,21.6369,1.9390,1.9390,0.4000,0.0644,1.0000,...,77.7476,0.1595,0.0896,0.0180,0.0058,0.9202,0.2576,0.1609,0.1175,1.1750
6,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-09-30 00:00:00,22.2809,2.9188,2.9177,0.4000,0.0632,1.0000,...,58.3499,0.1561,0.1310,0.0256,0.0083,0.9017,0.2658,0.1580,0.1205,0.5048
7,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-12-31 00:00:00,23.0136,4.3023,4.3069,0.4000,0.0627,1.0000,...,42.2973,0.1718,0.1871,0.0378,0.0117,0.8738,0.2771,0.1854,0.1357,0.4724
8,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-03-31 00:00:00,21.5846,0.9057,0.9014,0.4000,0.0559,1.0000,...,199.4741,0.1650,0.0418,0.0076,0.0023,0.8781,0.3213,0.1654,0.1224,-0.7902
9,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-06-30 00:00:00,21.8215,3.5212,3.5015,0.4000,0.0549,1.0000,...,145.6190,0.1065,0.1605,0.0321,0.0088,0.8772,0.2486,0.3175,0.2145,2.8843
10,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-09-30 00:00:00,22.2664,4.4737,4.4386,0.4000,0.0542,1.0000,...,90.4141,0.1116,0.1993,0.0385,0.0108,0.8349,0.2555,0.2444,0.1704,0.2676
11,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-12-31 00:00:00,24.3803,5.5787,5.5177,0.4000,0.0571,1.0000,...,66.2521,0.1127,0.2263,0.0423,0.0129,0.8299,0.2397,0.2087,0.1526,0.2431
12,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31 00:00:00,24.9404,0.9900,0.9684,0.4000,0.0552,1.0000,...,223.1163,0.1297,0.0388,0.0071,0.0021,0.8983,0.2351,0.1303,0.0968,-0.8245
13,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30 00:00:00,24.2347,1.9900,1.9422,0.4000,0.0516,1.0000,...,122.2939,0.1220,0.0801,0.0137,0.0041,0.8333,0.2232,0.1229,0.0948,1.0056
14,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-09-30 00:00:00,27.5164,2.9700,2.8994,0.4000,0.0576,1.0000,...,93.1418,0.1003,0.1054,0.0179,0.0061,0.8492,0.1899,0.1012,0.0867,0.4929
15,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-12-31 00:00:00,27.1933,4.0399,3.9481,0.4000,0.0564,1.0000,...,72.7060,0.0945,0.1452,0.0242,0.0082,0.7734,0.1790,0.0953,0.0845,0.3617
16,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-03-31 00:00:00,25.3368,2.0700,1.9808,0.4080,0.0495,1.0000,...,209.9730,0.0991,0.0782,0.0082,0.0039,0.7456,0.0674,0.0986,0.1224,-0.4983
17,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-06-30 00:00:00,25.1077,3.0800,3.0036,0.4081,0.0492,1.0000,...,119.7598,0.0960,0.1196,0.0137,0.0059,0.7573,0.1198,0.0958,0.1048,0.5163
18,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-09-30 00:00:00,25.2708,4.1600,4.0557,0.4072,0.0479,1.0000,...,289.9978,0.0229,0.1605,0.0051,0.0077,0.7730,0.0594,0.0229,0.0825,0.3503
19,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-12-31 00:00:00,24.6643,5.0500,4.9237,0.4073,0.0467,1.0000,...,160.3977,0.0337,0.1996,0.0102,0.0093,0.7837,0.0826,0.0335,0.0780,0.2140
20,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-03-31 00:00:00,25.5036,0.8300,0.8063,0.2799,0.0482,1.0000,...,319.7146,0.0837,0.0316,0.0051,0.0015,0.7984,0.1837,0.0832,0.0636,-0.8362
21,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-06-30 00:00:00,25.3319,1.7000,1.6584,0.2970,0.0468,1.0000,...,158.2550,0.0902,0.0655,0.0117,0.0031,0.7733,0.2279,0.0902,0.0647,1.0567
22,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-09-30 00:00:00,26.0337,2.5000,2.4329,0.2969,0.0481,1.0000,...,113.9223,0.0776,0.0935,0.0170,0.0045,0.7640,0.1978,0.0776,0.0579,0.4670
23,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-12-31 00:00:00,26.5993,2.8400,2.7675,0.2969,0.0506,1.0000,...,105.1037,0.0602,0.1040,0.0190,0.0053,0.7527,0.1911,0.0602,0.0480,0.1376
24,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-03-31 00:00:00,27.3791,0.8600,0.8352,0.2968,0.0535,1.0000,...,355.2926,0.0752,0.0305,0.0062,0.0016,0.7607,0.1794,0.0751,0.0606,-0.6982
25,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-06-30 00:00:00,27.8290,1.8000,1.7511,0.2968,0.0531,1.0000,...,180.1993,0.0756,0.0629,0.0128,0.0033,0.7550,0.1648,0.0756,0.0624,1.0967
26,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-09-30 00:00:00,28.6586,2.8100,2.7322,0.2968,0.0563,1.0000,...,109.9990,0.0840,0.0953,0.0203,0.0054,0.7521,0.1833,0.0831,0.0684,0.5602
27,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-12-31 00:00:00,30.5473,3.9100,3.7974,0.2967,0.0614,1.0000,...,74.8987,0.0891,0.1243,0.0263,0.0076,0.7521,0.1863,0.0883,0.0727,0.3899
28,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-03-31 00:00:00,31.3297,0.9800,0.9517,0.3020,0.0607,1.0000,...,336.3649,0.1021,0.0304,0.0059,0.0018,0.7776,0.2103,0.1015,0.0904,-0.7494
29,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-06-30 00:00:00,31.9561,2.1000,2.0364,0.3053,0.0605,1.0000,...,170.3522,0.0850,0.0637,0.0114,0.0039,0.7965,0.1569,0.0866,0.0809,1.1398
30,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-09-30 00:00:00,32.3720,3.2100,3.1156,0.3563,0.0603,1.0000,...,104.9446,0.0953,0.0962,0.0185,0.0058,0.7821,0.1747,0.0965,0.0838,0.5300
31,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-12-31 00:00:00,32.1034,4.5400,4.4143,0.4081,0.0622,1.0000,...,66.4462,0.1150,0.1375,0.0296,0.0086,0.7934,0.1970,0.1159,0.0937,0.4168
32,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-03-31 00:00:00,32.9872,1.4100,1.3672,0.4061,0.0599,1.0000,...,267.8352,0.1346,0.0414,0.0083,0.0025,0.8173,0.2536,0.1345,0.1237,-0.6903
33,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-06-30 00:00:00,31.9974,2.9100,2.8337,0.4061,0.0572,1.0000,...,171.2869,0.1102,0.0886,0.0142,0.0051,0.7745,0.2597,0.1108,0.1289,1.0727
34,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-09-30 00:00:00,32.9782,4.4100,4.2862,0.4061,0.0602,1.0000,...,116.5463,0.0968,0.1300,0.0189,0.0078,0.7715,0.2131,0.0970,0.1221,0.5125
35,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-12-31 00:00:00,34.5136,6.3900,6.2467,0.3761,0.0643,1.0000,...,126.0338,0.0668,0.1810,0.0159,0.0116,0.7311,0.2161,0.0670,0.1393,0.4574
36,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-03-31 00:00:00,35.6739,1.1200,1.1130,0.1622,0.0614,1.0000,...,1983.5954,0.0126,0.0312,0.0010,0.0019,0.7501,-0.0021,0.0126,0.0672,-0.8218
37,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-06-30 00:00:00,36.6462,2.2300,2.2153,0.2795,0.0590,1.0000,...,378.9909,0.0439,0.0605,0.0058,0.0036,0.7178,0.0705,0.0440,0.0823,0.9904
38,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-09-30 00:00:00,39.1176,3.2900,3.2754,0.2795,0.0609,1.0000,...,217.1902,0.0593,0.0837,0.0102,0.0051,0.7427,0.1095,0.0593,0.0907,0.4785
39,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-12-31 00:00:00,40.7352,4.3900,4.3666,0.3354,0.0655,1.0000,...,170.8158,0.0758,0.1072,0.0455,0.0070,0.1091,0.1725,0.1156,0.1028,0.3332
40,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-03-31 00:00:00,44.5272,1.4600,1.4508,0.3845,0.0674,1.0000,...,411.5020,0.1285,0.0326,0.0137,0.0022,0.0373,0.2862,0.1499,0.1333,-0.6677
41,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-06-30 00:00:00,47.2685,3.4100,3.3937,0.3152,0.0708,1.0000,...,157.1051,0.2233,0.0718,0.0301,0.0051,0.0363,0.4723,0.2319,0.2055,1.3392
42,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-09-30 00:00:00,47.7176,5.0000,4.9787,0.3306,0.0673,1.0000,...,108.5008,0.1881,0.1043,0.0440,0.0070,0.0293,0.3487,0.1841,0.1631,0.4670
43,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-12-31 00:00:00,46.8434,6.8600,6.8313,0.3845,0.0675,1.0000,...,76.3921,0.1765,0.1458,0.0629,0.0098,0.0291,0.3025,0.1697,0.1503,0.3721
44,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-03-31 00:00:00,49.5483,2.3000,2.2931,0.3838,0.0682,1.0000,...,231.2372,0.2161,0.0463,0.0191,0.0032,0.0248,0.3127,0.2037,0.1804,-0.6643
45,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-06-30 00:00:00,50.5728,4.9600,4.9412,0.3839,0.0679,1.0000,...,104.2449,0.1754,0.0977,0.0404,0.0066,0.0361,0.2427,0.1575,0.1395,1.1548
46,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-09-30 00:00:00,51.3464,7.7800,7.7483,0.3834,0.0673,1.0000,...,67.3020,0.1682,0.1509,0.0624,0.0101,0.0254,0.2229,0.1477,0.1309,0.5681
47,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-12-31 00:00:00,53.5862,10.7900,10.7478,0.3834,0.0744,1.0000,...,45.9919,0.1724,0.2006,0.0908,0.0149,0.0370,0.2180,0.1513,0.1341,0.3871
48,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-03-31 00:00:00,21274.7831,0.0000,1342.6801,0.0000,0.0996,1.0000,...,59.2111,0.2345,0.0631,0.0276,0.0063,0.6987,0.5875,0.2325,0.1290,NaN
49,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-06-30 00:00:00,21920.8924,3.0600,3055.7499,0.1977,0.0948,1.0000,...,32.9122,0.2234,0.1394,0.0515,0.0132,0.7078,0.5527,0.2188,0.1413,1.2759
50,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-09-30 00:00:00,23108.4699,4208.3300,4208.2909,0.1435,0.0979,1.0000,...,23.7150,0.2001,0.1821,0.0668,0.0178,0.7145,0.5210,0.1950,0.1258,0.3772
51,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-12-31 00:00:00,21482.7985,2.6450,2645.3657,0.2284,0.0939,1.0000,...,36.0185,0.0920,0.1231,0.0401,0.0116,0.6960,0.5220,0.0861,0.0583,-0.3714
52,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-03-31 00:00:00,22.7406,1.3480,1.2133,0.0000,0.0962,1.0000,...,72.3014,0.1786,0.0534,0.0197,0.0051,0.7137,0.5593,0.1729,0.1027,-0.5413
53,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-06-30 00:00:00,23957.7193,0.0000,3169.5359,0.2375,0.0943,1.0000,...,33.5065,0.2102,0.1323,0.0457,0.0125,0.7186,0.5792,0.2053,0.1329,1.6123
54,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-09-30 00:00:00,25249.4422,4.4770,4477.2345,0.1433,0.0946,1.0000,...,24.3165,0.2005,0.1773,0.0619,0.0168,0.7634,0.5743,0.1924,0.1239,0.4126
55,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-12-31 00:00:00,26064.5641,0.0000,5932.7641,0.2380,0.1014,1.0000,...,16.6337,0.1971,0.2276,0.0738,0.0231,0.7587,0.5903,0.1863,0.1230,0.3251
56,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-03-31 00:00:00,26101.6389,1.6270,1626.6630,0.0000,0.1012,1.0000,...,50.7302,0.2534,0.0623,0.0212,0.0063,0.7961,0.6713,0.2374,0.1401,-0.7258
57,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-06-30 00:00:00,26798.1765,3.1100,3114.0646,0.2381,0.0913,1.0000,...,35.2694,0.2095,0.1162,0.0348,0.0106,0.7790,0.6263,0.1962,0.1281,0.9143
58,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-09-30 00:00:00,27620.8682,3.9510,3950.9971,0.1871,0.0900,1.0000,...,28.2055,0.1745,0.1430,0.0428,0.0129,0.8052,0.6014,0.1617,0.1043,0.2688
59,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-12-31 00:00:00,29365.5520,4.6550,4654.6386,0.2381,0.0974,1.0000,...,23.5787,0.1472,0.1585,0.0473,0.0154,0.7714,0.5817,0.1347,0.0901,0.1781

Essa situação está ocorrendo por que essas empresas não reportaram um ou mais balanços no período. (as empresas são obrigadas a reportarem anualmente apenas)

In [ ]:
df[df.isna().any(axis=1)]

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_REFER,Patrimônio Líquido,Ativo Total,Ativo Circulante,Passivo Total,Passivo Circulante,Receita Total,...,Caixa,Dividendos,JCP,Lucro por Ação,Acoes_ON,Acoes_PN,Tes_ON,Tes_PN,FREE_FLOAT,TOTAL_ACOES
21069,31.001.230/0001-07,CELEO REDES TRANSMISSÃO DE ENERGIA S.A.,24597,2018-06-30 00:00:00,0.0000,NaN,NaN,0.0000,0.0000,NaN,...,NaN,0.0000,0.0000,0.0000,10.0000,0.0000,0.0000,0.0000,1.0000,10.0000
21284,32.785.497/0001-97,NATURA &CO HOLDING S.A.,24783,2019-06-30 00:00:00,0.1000,0.1000,0.1000,0.1000,0.0000,NaN,...,0.1000,0.0000,0.0000,0.0000,100.0000,0.0000,0.0000,0.0000,1.0000,100.0000

In [ ]:
df.head(60)

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_REFER,Patrimônio Líquido,Ativo Total,Ativo Circulante,Passivo Total,Passivo Circulante,Receita Total,...,Caixa,Dividendos,JCP,Lucro por Ação,Acoes_ON,Acoes_PN,Tes_ON,Tes_PN,FREE_FLOAT,TOTAL_ACOES
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-03-31 00:00:00,52172709.0000,787908489.0000,460670797.0000,787908489.0000,536607202.0000,20179781.0000,...,12244142.0000,449024.0000,723921.0000,0.0000,2860729247.0000,0.0000,32.0000,0.0000,1.0000,2860729247.0000
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-06-30 00:00:00,54276101.0000,816131152.0000,479955357.0000,816131152.0000,554643276.0000,42097733.0000,...,18868357.0000,1044346.0000,1460601.0000,2.1891,2860729247.0000,0.0000,32.0000,0.0000,1.0000,2860729247.0000
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-09-30 00:00:00,56279126.0000,859280120.0000,512077755.0000,859280120.0000,571192875.0000,67494104.0000,...,19767405.0000,1405060.0000,2256401.0000,3.2000,2860729247.0000,0.0000,32.0000,0.0000,1.0000,2860729247.0000
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2011-12-31 00:00:00,58148690.0000,890352257.0000,518716710.0000,890352257.0000,572481618.0000,90080002.0000,...,9227217.0000,1847625.0000,3051308.0000,4.2802,2860729247.0000,0.0000,32.0000,0.0000,1.0000,2860729247.0000
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-03-31 00:00:00,59817963.0000,913866693.0000,545372613.0000,913866693.0000,580836511.0000,22500822.0000,...,14265629.0000,181408.0000,840365.0000,0.8915,2865416988.0000,0.0000,32.0000,0.0000,1.0000,2865416988.0000
5,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-06-30 00:00:00,61998776.0000,962760903.0000,554627497.0000,962760903.0000,602726998.0000,47296102.0000,...,16287118.0000,531682.0000,1690693.0000,1.9390,2865416973.0000,0.0000,47.0000,0.0000,1.0000,2865416973.0000
6,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-09-30 00:00:00,63844116.0000,1009923655.0000,582005138.0000,1009923655.0000,645454593.0000,69355842.0000,...,13603652.0000,835926.0000,2508259.0000,2.9188,2865416973.0000,0.0000,47.0000,0.0000,1.0000,2865416973.0000
7,00.000.000/0001-91,BCO BRASIL S.A.,1023,2012-12-31 00:00:00,65776796.0000,1049283624.0000,585819632.0000,1049283624.0000,670456746.0000,90745179.0000,...,11189103.0000,1570156.0000,3353792.0000,4.3023,2858171973.0000,0.0000,7245047.0000,0.0000,0.9975,2858171973.0000
8,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-03-31 00:00:00,61848822.0000,1105744898.0000,620472390.0000,1105744898.0000,706574074.0000,21106633.0000,...,11974401.0000,279429.0000,753777.0000,0.9057,2865417020.0000,0.0000,20200047.0000,0.0000,0.9930,2865417020.0000
9,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-06-30 00:00:00,62527717.0000,1138813786.0000,647797545.0000,1138813786.0000,738514308.0000,46784697.0000,...,13195754.0000,2457310.0000,1556018.0000,3.5212,2865417020.0000,0.0000,20200047.0000,0.0000,0.9930,2865417020.0000
10,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-09-30 00:00:00,63802635.0000,1178131249.0000,641604091.0000,1178131249.0000,768455384.0000,74622816.0000,...,15386656.0000,2645043.0000,2442297.0000,4.4737,2865417020.0000,0.0000,26418028.0000,0.0000,0.9908,2865417020.0000
11,00.000.000/0001-91,BCO BRASIL S.A.,1023,2013-12-31 00:00:00,69859729.0000,1224458597.0000,650448226.0000,1224458597.0000,783736092.0000,103584695.0000,...,10520371.0000,3010225.0000,3313923.0000,5.5787,2865417020.0000,0.0000,43723128.0000,0.0000,0.9847,2865417020.0000
12,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31 00:00:00,71464555.0000,1294187527.0000,753744537.0000,1294187527.0000,839101217.0000,28664624.0000,...,9615019.0000,227611.0000,882332.0000,0.9900,2865417020.0000,0.0000,56702328.0000,0.0000,0.9802,2865417020.0000
13,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30 00:00:00,69442420.0000,1344627835.0000,739026339.0000,1344627835.0000,886841959.0000,58715512.0000,...,10683924.0000,444028.0000,1782048.0000,1.9900,2865417020.0000,0.0000,61699534.0000,0.0000,0.9785,2865417020.0000
14,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-09-30 00:00:00,78845901.0000,1369739682.0000,770692909.0000,1369739682.0000,907583262.0000,95876332.0000,...,12263677.0000,599844.0000,2723358.0000,2.9700,2865417020.0000,0.0000,66535220.0000,0.0000,0.9768,2865417020.0000
15,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-12-31 00:00:00,77920212.0000,1381154731.0000,720435904.0000,1381154731.0000,931500709.0000,133845081.0000,...,12200359.0000,851104.0000,3674036.0000,4.0399,2865417020.0000,0.0000,68241620.0000,0.0000,0.9762,2865417020.0000
16,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-03-31 00:00:00,72600519.0000,1465549447.0000,730302299.0000,1465549447.0000,979510346.0000,46360828.0000,...,14664117.0000,1261460.0000,1054135.0000,2.0700,2865417020.0000,0.0000,68881576.0000,0.0000,0.9760,2865417020.0000
17,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-06-30 00:00:00,71944144.0000,1460958067.0000,726631228.0000,1460958067.0000,959522792.0000,82136637.0000,...,15419145.0000,1300507.0000,2212071.0000,3.0800,2865417020.0000,0.0000,69250818.0000,0.0000,0.9758,2865417020.0000
18,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-09-30 00:00:00,72411410.0000,1510509513.0000,737496810.0000,1510509513.0000,954118423.0000,140864226.0000,...,17779756.0000,1300507.0000,3432089.0000,4.1600,2865417020.0000,0.0000,69240496.0000,0.0000,0.9758,2865417020.0000
19,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-12-31 00:00:00,70673370.0000,1514682955.0000,777895021.0000,1514682955.0000,992636412.0000,180836676.0000,...,16502703.0000,1300507.0000,4445239.0000,5.0500,2865417020.0000,0.0000,72864196.0000,0.0000,0.9746,2865417020.0000
20,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-03-31 00:00:00,73078482.0000,1515592202.0000,792175915.0000,1515592202.0000,992172749.0000,36309513.0000,...,20792509.0000,0.0000,646739.0000,0.8300,2865417020.0000,0.0000,72864196.0000,0.0000,0.9746,2865417020.0000
21,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-06-30 00:00:00,72586421.0000,1551538657.0000,820071324.0000,1551538657.0000,1060436763.0000,73398367.0000,...,12964534.0000,0.0000,1411218.0000,1.7000,2865417020.0000,0.0000,80666466.0000,0.0000,0.9718,2865417020.0000
22,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-09-30 00:00:00,74597333.0000,1550909341.0000,822113912.0000,1550909341.0000,1076127356.0000,120472124.0000,...,11668829.0000,0.0000,2069876.0000,2.5000,2865417020.0000,0.0000,80666466.0000,0.0000,0.9718,2865417020.0000
23,00.000.000/0001-91,BCO BRASIL S.A.,1023,2016-12-31 00:00:00,76218169.0000,1506277684.0000,795973628.0000,1506277684.0000,1057475953.0000,165342608.0000,...,11836019.0000,0.0000,2354607.0000,2.8400,2865417020.0000,0.0000,80666497.0000,0.0000,0.9718,2865417020.0000
24,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-03-31 00:00:00,78452639.0000,1465545790.0000,813415636.0000,1465545790.0000,1069323820.0000,39462392.0000,...,14312166.0000,0.0000,710301.0000,0.8600,2865417020.0000,0.0000,80666497.0000,0.0000,0.9718,2865417020.0000
25,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-06-30 00:00:00,79741790.0000,1503116042.0000,836990150.0000,1503116042.0000,1108583688.0000,80415614.0000,...,13407686.0000,0.0000,1489082.0000,1.8000,2865417020.0000,0.0000,80555835.0000,0.0000,0.9719,2865417020.0000
26,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-09-30 00:00:00,82118819.0000,1458256150.0000,806378987.0000,1458256150.0000,1072148500.0000,114535749.0000,...,13274136.0000,0.0000,2323257.0000,2.8100,2865417020.0000,0.0000,80463476.0000,0.0000,0.9719,2865417020.0000
27,00.000.000/0001-91,BCO BRASIL S.A.,1023,2017-12-31 00:00:00,87530779.0000,1425212839.0000,760229569.0000,1425212839.0000,1010834540.0000,149670740.0000,...,12349179.0000,0.0000,3228953.0000,3.9100,2865417020.0000,0.0000,80463476.0000,0.0000,0.9719,2865417020.0000
28,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-03-31 00:00:00,89772628.0000,1478842483.0000,814876610.0000,1478842483.0000,1047925155.0000,30177213.0000,...,12000535.0000,0.0000,823474.0000,0.9800,2865417020.0000,0.0000,80463476.0000,0.0000,0.9719,2865417020.0000
29,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-06-30 00:00:00,91567645.0000,1513677590.0000,841289619.0000,1513677590.0000,1056216338.0000,72160468.0000,...,11747121.0000,0.0000,1781380.0000,2.1000,2865417020.0000,0.0000,80193959.0000,0.0000,0.9720,2865417020.0000
30,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-09-30 00:00:00,92759223.0000,1539260851.0000,841940995.0000,1539260851.0000,1076557847.0000,106481005.0000,...,11683916.0000,0.0000,3180789.0000,3.2100,2865417020.0000,0.0000,80181562.0000,0.0000,0.9720,2865417020.0000
31,00.000.000/0001-91,BCO BRASIL S.A.,1023,2018-12-31 00:00:00,91989546.0000,1479378963.0000,827643785.0000,1479378963.0000,1043152700.0000,134939375.0000,...,12485157.0000,0.0000,5161822.0000,4.5400,2865417020.0000,0.0000,79886296.0000,0.0000,0.9721,2865417020.0000
32,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-03-31 00:00:00,94521969.0000,1579306479.0000,946762139.0000,1579306479.0000,1158400214.0000,31678066.0000,...,16475118.0000,0.0000,1590939.0000,1.4100,2865417020.0000,0.0000,79886296.0000,0.0000,0.9721,2865417020.0000
33,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-06-30 00:00:00,91685951.0000,1601798332.0000,930820082.0000,1601798332.0000,1201840117.0000,63017283.0000,...,12209291.0000,0.0000,3297568.0000,2.9100,2865417020.0000,0.0000,78944518.0000,0.0000,0.9724,2865417020.0000
34,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-09-30 00:00:00,94496214.0000,1568535637.0000,885085980.0000,1568535637.0000,1147187782.0000,100596176.0000,...,12734499.0000,0.0000,4987710.0000,4.4100,2865417020.0000,0.0000,78936493.0000,0.0000,0.9725,2865417020.0000
35,00.000.000/0001-91,BCO BRASIL S.A.,1023,2019-12-31 00:00:00,98895999.0000,1538887600.0000,800328473.0000,1538887600.0000,1094763799.0000,128490563.0000,...,12800038.0000,0.0000,6732541.0000,6.3900,2865417020.0000,0.0000,78151583.0000,0.0000,0.9727,2865417020.0000
36,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-03-31 00:00:00,102220480.0000,1663538088.0000,896515878.0000,1663538088.0000,1195207389.0000,47439114.0000,...,13381252.0000,0.0000,517440.0000,1.1200,2865417020.0000,0.0000,14459169.0000,0.0000,0.9950,2865417020.0000
37,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-06-30 00:00:00,105006525.0000,1780471320.0000,935724591.0000,1780471320.0000,1303577362.0000,77138841.0000,...,21049316.0000,0.0000,1774163.0000,2.2300,2865417020.0000,0.0000,13248540.0000,0.0000,0.9954,2865417020.0000
38,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-09-30 00:00:00,112088236.0000,1839773399.0000,1002044475.0000,1839773399.0000,1349130216.0000,103511258.0000,...,17047260.0000,0.0000,2623281.0000,3.2900,2865417020.0000,0.0000,13247103.0000,0.0000,0.9954,2865417020.0000
39,00.000.000/0001-91,BCO BRASIL S.A.,1023,2020-12-31 00:00:00,116723222.0000,1782539204.0000,173400752.0000,1782539204.0000,1589702834.0000,121738381.0000,...,14239838.0000,0.0000,4196889.0000,4.3900,2865417020.0000,0.0000,12178134.0000,0.0000,0.9957,2865417020.0000
40,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-03-31 00:00:00,127588932.0000,1891609375.0000,62578233.0000,1891609375.0000,1678042709.0000,31186377.0000,...,28560165.0000,212107.0000,1386231.0000,1.4600,2865417020.0000,0.0000,12175335.0000,0.0000,0.9958,2865417020.0000
41,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-06-30 00:00:00,135443994.0000,1912107216.0000,61174413.0000,1912107216.0000,1683183000.0000,47321941.0000,...,22906388.0000,212107.0000,2853186.0000,3.4100,2865417020.0000,0.0000,11975061.0000,0.0000,0.9958,2865417020.0000
42,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-09-30 00:00:00,136730909.0000,2033137262.0000,52773683.0000,2033137262.0000,1803713012.0000,87469842.0000,...,18950192.0000,212107.0000,4503715.0000,5.0000,2865417020.0000,0.0000,12017619.0000,0.0000,0.9958,2865417020.0000
43,00.000.000/0001-91,BCO BRASIL S.A.,1023,2021-12-31 00:00:00,134225898.0000,1988645574.0000,51538342.0000,1988645574.0000,1771550882.0000,130254642.0000,...,15285225.0000,1227411.0000,6299065.0000,6.8600,2865417020.0000,0.0000,12017619.0000,0.0000,0.9958,2865417020.0000
44,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-03-31 00:00:00,141976558.0000,2080278647.0000,45508103.0000,2080278647.0000,1834615374.0000,36426529.0000,...,14646674.0000,443296.0000,2078378.0000,2.3000,2865417020.0000,0.0000,11974636.0000,0.0000,0.9958,2865417020.0000
45,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-06-30 00:00:00,144912215.0000,2135261943.0000,68113723.0000,2135261943.0000,1884674310.0000,101486051.0000,...,28977508.0000,1014553.0000,4421069.0000,4.9600,2865417020.0000,0.0000,11830375.0000,0.0000,0.9959,2865417020.0000
46,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-09-30 00:00:00,147128770.0000,2187760894.0000,49020957.0000,2187760894.0000,1933357838.0000,169656837.0000,...,13144473.0000,1500251.0000,7012734.0000,7.7800,2865417020.0000,0.0000,11780761.0000,0.0000,0.9959,2865417020.0000
47,00.000.000/0001-91,BCO BRASIL S.A.,1023,2022-12-31 00:00:00,153546924.0000,2062674549.0000,67891204.0000,2062674549.0000,1833280625.0000,229637958.0000,...,12808085.0000,2172246.0000,9635342.0000,10.7900,2865417020.0000,0.0000,11780761.0000,0.0000,0.9959,2865417020.0000
48,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-03-31 00:00:00,772381.0000,7753070.0000,3735132.0000,7753070.0000,5345675.0000,378020.0000,...,96906.0000,0.0000,0.0000,0.0000,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
49,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-06-30 00:00:00,795838.0000,8398295.0000,4145322.0000,8398295.0000,5856275.0000,785076.0000,...,84700.0000,319.0000,21612.0000,3.0600,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
50,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-09-30 00:00:00,838953.0000,8573194.0000,4190586.0000,8573194.0000,5865126.0000,1214739.0000,...,100212.0000,0.0000,21931.0000,4208.3300,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
51,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2011-12-31 00:00:00,779933.0000,8308214.0000,3868529.0000,8308214.0000,5558084.0000,1646363.0000,...,99658.0000,319.0000,21612.0000,2.6450,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
52,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-03-31 00:00:00,825590.0000,8585064.0000,4023949.0000,8585064.0000,5637945.0000,429087.0000,...,98142.0000,0.0000,0.0000,1.3480,28014650.0000,8290000.0000,0.0000,0.0000,1.0000,36304650.0000
53,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-06-30 00:00:00,869785.0000,9220171.0000,4455439.0000,9220171.0000,6200035.0000,866005.0000,...,99750.0000,4038.0000,23291.0000,0.0000,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
54,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-09-30 00:00:00,916681.0000,9687887.0000,4983629.0000,9687887.0000,6528438.0000,1312183.0000,...,129534.0000,0.0000,23291.0000,4.4770,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
55,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2012-12-31 00:00:00,946274.0000,9330762.0000,4440854.0000,9330762.0000,5853461.0000,1751429.0000,...,111830.0000,6615.0000,44640.0000,0.0000,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
56,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-03-31 00:00:00,947620.0000,9365001.0000,4445633.0000,9365001.0000,5584005.0000,421643.0000,...,162928.0000,0.0000,0.0000,1.6270,28015.0000,8290.0000,0.0000,0.0000,1.0000,36305.0000
57,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-06-30 00:00:00,972881.0000,10650877.0000,5177557.0000,10650877.0000,6646254.0000,882782.0000,...,124488.0000,3409.0000,23505.0000,3.1100,28014.0000,8290.0000,0.0000,0.0000,1.0000,36304.0000
58,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-09-30 00:00:00,1002748.0000,11144655.0000,5600911.0000,11144655.0000,6956235.0000,1374637.0000,...,189306.0000,0.0000,26835.0000,3.9510,28014.0000,8290.0000,0.0000,0.0000,1.0000,36304.0000
59,00.000.208/0001-00,BRB BCO DE BRASILIA S.A.,14206,2013-12-31 00:00:00,1066087.0000,10946423.0000,5144506.0000,10946423.0000,6669209.0000,1874784.0000,...,164058.0000,4737.0000,35505.0000,4.6550,28014.0000,8290.0000,0.0000,0.0000,1.0000,36304.0000

In [ ]:
#df_teste.to_csv('df_teste.csv', index=True, header = True)

In [ ]:
df.to_csv('balanço_empresas_2011-2022.csv', index=True, header = True)
df2.to_csv('indicadores_empresas_2011-2022.csv', index=True, header = True)

#Considerações

O tratamento para a mineração adequada da base de dados foi realizado de forma meticulosa, abordando todas as possibilidades. Durante o desenvolvimento, foram identificadas diversas inconsistências na mineração de dados, mas mesmo assim, foi possível alcançar o principal objetivo: garantir que não houvesse nenhum dado "NaN" de empresas relevantes na base (apenas duas empresa apresentaram "NaN"), resultante de problemas na divulgação de resultados. Vale ressaltar que, apesar disso, ainda é necessário realizar o Feature Engineering para aprimorar a base de dados.

Além disso, quanto maior e mais sólida a empresa, melhor é a qualidade dos dados. Para garantir a integridade da base, foi implementado um filtro inicial para excluir empresas muito pequenas. É importante destacar que nem todas as empresas com capital aberto estão listadas em bolsa. Após a aplicação do filtro, restaram 762 empresas, das 1131 inicialmente consideradas, no período entre 2011 e 2022. Mais filtros podem ser aplicados.

Por fim, os indicadores foram calculados para uma ideia inicial, porém, seria interessante deixá-los para depois, sendo assim, a base de dados está pronta para etapa seguinte : **Tratamentos dos dados ou Featuring Engineer.**